<h2>Players List</h2>
<div class="row">
	<ul class="players col-md-3">
		<li *ngFor="#player of players" [class.selected]="player===selectedPlayer" (click)="onSelect(player)">
			<span class="badge">{{player.id}}</span>{{player.name}}
		</li>
	</ul>
	<div class="ground" *ngIf!="selectedPlayer">
		<img src="public/img/nuokanpu.jpg">
	</div>
	<div *ngIf="selectedPlayer">
		<!-- using properites bingding to transfer data between components
		###### 1. using [player] to pass the data
		###### 2. define the inputs: ['player'] in the @Component 
		-->
		<div class="playerDetail col-md-9">
	    	<my-player-detail [player]='selectedPlayer'></my-player-detail>
	    </div>
	</div>
</div>