.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.players {
    float: left;
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 10em;
}

.players li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0em;
    height: 1.7em;
    border-radius: 4px;
    font-size:15px;
    width: 300px;
}

.players li.selected:hover {
    color: white;
}

.players li:hover {
    color: #607D8B;
    background-color: #EEE;
    left: .1em;
}

.players .text {
    position: relative;
    top: -3px;
}

.players .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0em 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    width:1.5em;
    margin-right: .8em;
    border-radius: 4px 0px 0px 4px;
}

.ground{
    float:right;
    margin-right: 100px;
    max-width:800px;
    height:500px;  
    overflow: hidden;
}

.playerDetail{
    float:left;
    margin-left: 200px;
    margin-top: -85px;
}

/*
    margin-top: -85px;
    margin-left: 150px;
    max-width:1200px;
    width: 1200px;
    height:500px;  
    overflow: hidden;
*/
